html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

body {
  background: #22222c; }

.iconic {
  color: white;
  width: 1em;
  height: 1em; }

.Application {
  font-family: Futura PT;
  font-weight: 100;
  font-size: 1.2em;
  margin: auto;
  width: 720px; }
  .Application .header {
    display: none;
    color: #efefff;
    font-weight: 800;
    font-style: italic;
    position: fixed;
    font-size: 20em;
    z-index: -1; }
  .Application .fg {
    padding: 2em 0; }
  .Application .pic {
    display: inline-block;
    vertical-align: middle;
    background: white;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    background-image: url("/gameday2.jpg");
    background-size: cover; }
    .Application .pic .picOverlay {
      visibility: hidden;
      fill: #22222c;
      opacity: .9;
      margin: auto;
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 240px;
      font-size: 5em;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .Application .pic .picOverlay .iconic-property-accent {
        fill: #22222c; }
  .Application [class^=circle] {
    color: white;
    display: inline-block;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    text-align: center;
    vertical-align: middle;
    line-height: 240px; }
    .Application [class^=circle]:nth-child(5n) {
      background: #f6d505; }
      .Application [class^=circle]:nth-child(5n) a {
        color: #ff452e; }
    .Application [class^=circle]:nth-child(5n+1) {
      background: #00af4e; }
      .Application [class^=circle]:nth-child(5n+1) a {
        color: #007c37; }
    .Application [class^=circle]:nth-child(5n+2) {
      background: #ff452e; }
      .Application [class^=circle]:nth-child(5n+2) a {
        color: #f6d505; }
  .Application .bio {
    text-align: center;
    color: #00af4e;
    font-size: 1em;
    font-weight: 200;
    margin: auto;
    height: 3em;
    padding: 8px 0; }
