@import "compass/reset";
@import "Grid.scss";
@import "Colors";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$circle-size: 240px;

body {
	background: $blue;
}

.iconic {
	color: white;
	width: 1em;
	height: 1em;
}

.Application {
	font-family: Futura PT;
	font-weight: 100;
	font-size: 1.2em;
	margin: auto;
	width: 720px;
	.header {
		display: none;
		color: #efefff;
		font-weight: 800;
		font-style: italic;
		position: fixed;
		font-size: 20em;
		z-index: -1;
	}

	.fg {
		padding: 2em 0;
	}

	.pic {
		display: inline-block;
		vertical-align: middle;
		background: white;
		border-radius: 50%;
		height: $circle-size;
		width: $circle-size;
		background-image: url('/gameday2.jpg');
		background-size: cover;

		.picOverlay {
			visibility: hidden;
			fill: $blue;
			opacity: .9;
			.iconic-property-accent {
				fill: $blue;
			}


			margin: auto;
			position: relative;
			top: 0; left: 0; bottom: 0; right: 0;
			width: $circle-size;
			font-size: 5em;
			@include vertical-align;
		}

		// &:hover {
		// 	.picOverlay {
		// 		visibility: visible;
		// 	}
		// }
	}



	// $i: 26;
	// @while $i > 0 {
	// 	.circle-#{$i} {
	// 		background: adjust-lightness(adjust-lightness($paper-cut, 5), 1 * $i);
	// 		color: white; //adjust-lightness($green, $i);
	// 	}
	// 	$i: $i - 1;
	// }

	[class^=circle] {
		&:nth-child(5n) {
			background: $yellow-pencil;
			a {
				color: $paper-cut;
			}
		}
		&:nth-child(5n+1) {
			background: $green;
			a {
				color: adjust-lightness($green, -10);
			}
		}
		&:nth-child(5n+2) {
			background: $paper-cut;
			a {
				color: $yellow-pencil;
			}
		}

		// .overlay {
		// 	visibility: hidden;
		// 	fill: $blue;
		// 	opacity: .9;
		// 	.iconic-property-accent {
		// 		fill: $blue;
		// 	}
		// 	font-size: 5em;
		// 	@include vertical-align;
		// }

		// &:hover {
		// 	.overlay {
		// 		visibility: visible;
		// 	}
		// }

		color: white;
		display: inline-block;
		border-radius: 50%;
		height: $circle-size;
		width: $circle-size;
		text-align: center;
		vertical-align: middle;
		line-height: $circle-size;
	}


	.bio {
		text-align: center;
		color: $green;
		font-size: 1em;
		font-weight: 200;
		margin: auto;
		// position: absolute;
		// left: 0; bottom: 10; right: 0;
		height: 3em;
		padding: 8px 0;
	}
}